:root{
    --clr-blue: #494c4d;
    --clr-blue-mid: #1170CD;
    --clr-blue-dark: #1A1C6A;
    --clr-white: #fff;
    --clr-bright: #EFF2F9;
}
html{
    font-size: 10px;
}
a{
    text-decoration: none;
}
.bars:hover .bar{
    background-color: var(--clr-dark);
}
/* button */
.btn{
    font-size: 12px;
    font-weight: 700;
    padding: 1rem 1.2rem;
    border-radius: 4px;
    display: inline-block;
}

.btn-primary{
    background-color: var(--clr-blue);
    color: var(--clr-white);
    border: 1px solid var(--clr-blue);
}

.btn-primary:hover{
    background-color: transparent;
    color: var(--clr-dark);
    border-color: var(--clr-grey);
}
/* navbar part */
.header{
    min-height: calc(20vh - 80px);
    display: flex;
    align-items:center;
    justify-content: center;
}
h3{

    margin-bottom: 10px;
}
/* Reset some default styles */
body, h3, h5, label, input, select, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e8dddd; /* Dark background */
    color: #ecf0f1; /* Light text */
    padding: 20px;
}

form {
    background-color: #8e8e8e; /* Form background */
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

h3 {
    margin-bottom: 10px;
}

fieldset {
    border: none;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #a6b3b6;
    border-radius: 5px;
    background-color: #e8edec; /* Input background */
    color: #34495e; /* Input text color */
}

input[type="radio"] {
    margin-right: 5px;
}
/* اضافه کردن استایل برای نمایش افقی radio buttons */
.radio-group {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ecf0f1;
    border-radius: 5px;
    background-color: #d6e0de; /* رنگ پس‌زمینه */
    color: #34495e; /* رنگ متن */
    cursor: pointer; /* نشانگر ماوس */
}
.radio-group label {
    margin-right: 15px; /* فاصله بین برچسب‌ها */
}

button {
    background-color: #3498db; /* Button color */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #2980b9; /* Darker on hover */
}

.container {
    text-align: center;
}

@media (max-width: 600px) {
    form {
        padding: 15px;
    }
    
    button {
        width: 100%;
    }
}