body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #f0dbff;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.container {
    flex: 1;
    padding: 20px;

}

.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    width: 70%;
    padding: 10px;
    margin-right: 90px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.results {
    padding: 250px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.sidebar {
    width: 200px;
    background-color: #343a40;
    color: white;
    height: 100vh;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    color: #f8f9fa;
    font-size: 18px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: #adb5bd;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background-color: #495057;
    color: white;
}
.paragraph{
    font-size: large;
    display: block;
    
}